<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ca.paulshin.yunatube"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- required for YouTube -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- required for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name=".permission.RECEIVE"/>

    <permission
        android:name=".permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name=".permission.C2D_MESSAGE"/>

    <application
        android:name=".YTApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/Theme.YunaTube">

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Activities -->
        <activity
            android:name=".ui.main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>

        <activity
            android:name=".ui.main.MainSearchActivity"
            android:label="@string/search"
            android:theme="@style/Theme.YunaTube.Search"
            android:launchMode="singleTop"
            android:exported="false">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ui.main.SearchActivity"
            android:label="@string/search"/>

        <activity
            android:name=".ui.main.InstaPhotoActivity"
            android:theme="@style/Theme.YunaTube.Fullscreen"/>

        <activity
            android:name=".ui.main.InstaVideoActivity"
            android:theme="@style/Theme.YunaTube.Fullscreen"/>

        <activity
            android:name=".ui.main.InstaFeedActivity"
            android:label="@string/insta_feed"/>

        <activity
            android:name=".ui.main.WebViewActivity"/>

        <activity
            android:name=".ui.main.MessageActivity"
            android:label="@string/message_to_yuna"/>

        <activity
            android:name=".ui.main.StoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.YunaTube.Fullscreen">
        </activity>

        <activity
            android:name=".ui.main.PhotoActivity"
            android:theme="@style/Theme.YunaTube.Fullscreen"/>

        <activity
            android:name=".ui.main.PhotoSectionActivity"/>

        <activity
            android:name=".ui.main.PhotoListActivity"/>

        <activity
            android:name=".ui.main.AnimatedGifListActivity"/>

        <activity
            android:name=".ui.main.AnimatedGifActivity"
            android:theme="@style/Theme.YunaTube.Fullscreen"/>

        <activity
            android:name=".ui.main.FamilySitesActivity"
            android:label="@string/family_sites"/>

        <activity
            android:name=".ui.main.JukeboxActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.YunaTube.Fullscreen"/>

        <activity
            android:name=".ui.main.SettingsActivity"
            android:label="@string/settings"/>

        <activity
            android:name=".ui.main.VideoSectionActivity"
            android:theme="@style/Theme.YunaTube.VideoSection"
            android:label="@string/video_section"/>

        <activity
            android:name=".ui.main.VideoListActivity"
            android:label="@string/videos"/>

        <activity
            android:name=".ui.main.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.YunaTube.Fullscreen"/>

        <activity
            android:name=".ui.main.MyFavesActivity"
            android:label="@string/my_faves"/>
        <!-- Broadcast receivers -->
        <receiver
            android:name=".receiver.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
